<section class="2022_new_collection sec">
  <h2>2022 NEW COLLECTION "APPLAUSE"</h2>
  <div class="collection-wrap flex">

    <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
        <span>詳細を見る</span>
      </p>
    </a>
    <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
        <span>詳細を見る</span>
      </p>
    </a>
    <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
        <span>詳細を見る</span>
      </p>
    </a>
    <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
        <span>詳細を見る</span>
      </p>
    </a>

    {%- comment -%}
      <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
      <span>詳細を見る</span>
      </p>
      </a>
      <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
      <span>詳細を見る</span>
      </p>
      </a>
      <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
      <span>詳細を見る</span>
      </p>
      </a>
      <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
      <span>詳細を見る</span>
      </p>
      </a>
    {%- endcomment -%}

  </div>

  <a href="#" class="Btn02 bgleft02">
    <span>もっと見る</span>
  </a>

</section>

{% schema %}
  {
    "name": "Toppage Collection",
    "settings": [
      {
        "type": "collection",
        "id": "toppage_collection",
        "label": "Toppage_Collection"
      }
    ]
  }
{% endschema %}