<section class="sec05 sec">
  <div class="bkimg__contents flex">
    <div class="bkimg__contents__txtBox">
      <p class="min">店舗へのご来店もお待ちしております</p>
      <h2>このショップについて</h2>
      <div class="Btn bgleft">
        <span>詳しくはこちら＞</span>
      </div>

    </div>
  </div>
</section>