<section class="sec04 sec">
  <div class="items-wrapper flex">

    {% for block in section.blocks %}
      {% assign collection = block.settings.collection %}

      <a href="{{ collection.url }}" class="item" style="background-image: url({{ collection.image | image_url }});">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっともっと</span>
          </div>
        </div>
      </a>

    {% endfor %}

    {%- comment -%}
      <a href="product.html" class="item">
      <div class="item__content">
      <h3>NEW COLLECTION</h3>
      <div class="Btn bgleft bgleft03">
      <span>もっと見る</span>
      </div>
      </div>
      </a>

      <a href="product.html" class="item">
      <div class="item__content">
      <h3>NEW COLLECTION</h3>
      <div class="Btn bgleft bgleft03">
      <span>もっと見る</span>
      </div>
      </div>
      </a>

      <a href="product.html" class="item">
      <div class="item__content">
      <h3>NEW COLLECTION</h3>
      <div class="Btn bgleft bgleft03">
      <span>もっと見る</span>
      </div>
      </div>
      </a>

      <a href="product.html" class="item">
      <div class="item__content">
      <h3>NEW COLLECTION</h3>
      <div class="Btn bgleft bgleft03">
      <span>もっと見る</span>
      </div>
      </div>
      </a>

      <a href="product.html" class="item">
      <div class="item__content">
      <h3>NEW COLLECTION</h3>
      <div class="Btn bgleft bgleft03">
      <span>もっと見る</span>
      </div>
      </div>
      </a>
    {%- endcomment -%}

  </div>
</section>

{% schema %}
  {
    "name": "Toppage CollectionList",
    "tag": "section",
    "class": "section section-collection-list",
    "max_blocks": 5,
    "settings": [],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "t:sections.collection-list.blocks.featured_collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "toppage_collection",
            "label": "Toppage_CollectionList"
          }
        ]
      }
    ]
  }
{% endschema %}
