<section class="slider">

  <ul class="slider-wrap">
    <li class="slider-item01 slider-item">
      <div class="copy_area"></div>
    </li>
    <li class="slider-item02 slider-item">
      <div class="copy_area"></div>
    </li>
    <li class="slider-item03 slider-item">
      <div class="copy_area"></div>
    </li>
    <li class="slider-item04 slider-item">
      <div class="copy_area"></div>
    </li>
  </ul>

</section>
