<div class="category">
  <ul class="category__items">
    <li class="category__item">
      <a href="#" class="flex item__link">
        <img src="img/new/special-1.jpeg" alt="">
        <div class="item__txt">
          <span>オンライン限定</span>
        </div>
      </a>
    </li>
    <li class="category__item">
      <a href="#" class="flex item__link">
        <img src="img/new/special-2.jpeg" alt="">
        <div class="item__txt">
          <span>サイドメニュー</span>
        </div>
      </a>
    </li>
    <li class="category__item"></li>
  </ul>
</div>