{%- comment -%} <section class="2022_new_collection sec">
  <h2>2022 NEW COLLECTION "APPLAUSE"</h2> {%- endcomment -%}
  
  <div class="collection-wrap flex">

    {% assign collection = collections[section.settings.toppage_collection] %}
    {% paginate collection.products by 3 %}
      {% for product in collection.products %}
        <a href="{{ product.url }}" class="product_card">
          <img src="{{ product.featured_image.src | img_url: '3000x' }}" alt="">
          <h3>{{ product.title }}</h3>
          <p class="price">{{ product.price | money }}</p>
          <p class="Btn bgleft">
            <span>詳細を見る</span>
          </p>
        </a>
      {% endfor %}
    {% endpaginate %}

    {%- comment -%}
      <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
      <span>詳細を見る</span>
      </p>
      </a>
      <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
      <span>詳細を見る</span>
      </p>
      </a>
      <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
      <span>詳細を見る</span>
      </p>
      </a>
      <a href="#" class="product_card">
      <img src="img/new/product-2.webp" alt="">
      <h3>商品3</h3>
      <p class="price">¥2,592</p>
      <p class="Btn bgleft">
      <span>詳細を見る</span>
      </p>
      </a>
    {%- endcomment -%}

  </div>

  <a href="#" class="Btn02 bgleft02">
    <span>もっと見る</span>
  </a>

</section>

{% schema %}
  {
    "name": "Toppage Collection",
    "settings": [
      {
        "type": "collection",
        "id": "toppage_collection",
        "label": "Toppage_Collection"
      }
    ]
  }
{% endschema %}