{% section 'section-slideshow' %}
<section class="2022_new_collection sec">
  <h2>2022 NEW COLLECTION "APPLAUSE"</h2>
{% section 'section-collection' %}
{% section 'section-product' %}
{% section 'section-collection-list' %}
{% section 'section-about' %}
{% section 'section-special' %}
{% section 'section-category' %}